*private*
*.class
.vagrant/
*.beam
*.swp
*.swo
dump.rdb

# python compile artefacts
*.pyc

/dist/
# haskell compile artefacts
*.o
*.hi

# idris compile artefacts
*.ibc

bower.json
node_modules/
bower_components/

# latex
*.aux
*.log
*.out
*.dvi
