.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/* state machine styles */

rect.selection {
  stroke: gray;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

g.state circle {
  stroke: gray;
  cursor: pointer;
}

g.state circle.inner {
  fill: white;
}

g.state.hover circle.inner {
  fill: aliceblue;
}

g.state circle.outer {
  stroke-width: 0px;
  stroke-dasharray: 4px;
  stroke-opacity: 0.5;
  fill: transparent;
}

g.state.selected circle.outer {
  stroke-width: 1px;
}

g.state text {
  font: 12px sans-serif;
  font-weight: bold;
  pointer-events: none;
}

path.transition,
path.dragline {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  cursor: default;
  marker-end: url(#end-arrow);
}

path.dragline {
  pointer-events: none;
}

path.dragline.hidden {
  stroke-width: 0;
}

/* disable text selection */
svg *::selection {
  background: transparent;
}

svg *::-moz-selection {
  background: transparent;
}

svg *::-webkit-selection {
  background: transparent;
}
